<footer class="footer">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <h6>
          Copyright &copy; 2020
          <span id="year"></span>
        </h6>
        <p>Made with <i class="fal fa-heart" style="color: #ff0066;"></i> by <a class="text-info"
            href="https://www.evneddevelopment.com">Evned
            Development</a></p>
        <!-- <div class="col-md-3 text-center">
        <a href="https://4ocean.com"><img src="/assets/img/4Ocean.png" width="100" /></a>
        <a href="https://www.seashepherdglobal.org"><img src="/assets/img/seashepherd.png" width="60" /></a>
      </div> -->
      </div>
    </div>
  </div>
</footer>