<nav class="navbar navbar-expand-lg" style="background-color: #ffffff">
  <a routerLink="/" class="navbar-brand"
    ><img
      src="/assets/img/logo.png"
      width="160"
      data-toggle="collapse"
      data-target=".navbar-collapse.show"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"
      ><i class="fal fa-water fa-lg" style="color: #17a2b8"></i
    ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="dropdown show">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            title="settings"
          >
            <i class="fad fa-ellipsis-v-alt"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              href="https://paypal.me/CedricGoubil?locale.x=en_US"
              >Enjoy the app? <small>show support </small
              ><i class="fab fa-paypal"></i
            ></a>
          </div>
        </div>
      </li>
      <li
        class="nav-item"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/fish-listing">Fish </a>
      </li>
      <li
        class="nav-item"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/green-listing">Vegetables </a>
      </li>
      <li
        class="nav-item"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/fruit-listing">Fruits </a>
      </li>
      <li
        class="nav-item"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/facts">Facts</a>
      </li>
    </ul>
    <p class="fish-caught mt-3 mr-4">
      Since you are on this site
      <strong>{{ fishCaughtPerDay | number }} tonnes </strong>of fish have been
      caught in our <strong>Oceans</strong>
    </p>
  </div>
</nav>
