<body>
  <div class="container pt-5">
    <div class="col-lg-12 text-center text-white">
      <h1 class="mb-3">Welcome to Sustainable Chef's</h1>
    </div>
    <div class="col-lg-6 float-right">
      <div class="card bg-dark text-center">
        <div class="card-body">
          <h3 class="mb-3 text-white">Why is sustainability so important?</h3>
          <p class="text-white">
            Sustainability supports that mission by striving to improve the
            environmental health and quality of life for the people on our planet.
            Sustainability is important for many reasons including:
            Environmental Quality – In order to have healthy communities, we
            need clean air, natural resources, and a nontoxic environment.
          </p>
          <button type="button" routerLink="/fish-listing" class="btn btn-outline-light mr-1" title="go to listing">Fish
            <i class="fa fa-fish fa-lg" style="color: #17a2b8;"></i></button>
          <button type="button" routerLink="/green-listing" class="btn btn-outline-light mr-1"
            title="go to listing">Vegetables
            <i class="fa fa-carrot fa-lg" style="color: #5cb85c"></i></button>
          <button type="button" routerLink="/fruit-listing" class="btn btn-outline-light" title="go to listing">Fruits
            <i class="fa fa-apple-alt fa-lg" style="color: #dc3545"></i></button>
        </div>
      </div>
    </div>
  </div>
</body>