<body>
  <div class="container pt-4">
    <div class="col-lg-6 float-right">
      <div class="card bg-dark text-center text-white">
        <div class="card-body">
          <h1 class="mb-3">Why is it important?</h1>
          <p>
            Sustainability supports that mission by striving to improve the
            environmental health and quality of life for the people on our planet.
            Sustainability is important for many reasons including:
            Environmental Quality – In order to have healthy communities, we
            need clean air, natural resources, and a nontoxic environment.
          </p>
          <button type="button" routerLink="/fish-listing" class="btn btn-info btn-block">Go to Fish
            listing <i class="fa fa-arrow-circle-right"></i></button>
          <button type="button" routerLink="/green-listing" class="btn btn-success btn-block">Go to Green
            listing
            <i class="fa fa-arrow-circle-right"></i></button>
          <button type="button" routerLink="/fruit-listing" class="btn btn-danger btn-block">Go to Fruit
            listing <i class="fa fa-arrow-circle-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</body>