body {
  background: linear-gradient(to top, #17a2b8, #77deee);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}

.greens-listing {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 350px;
  max-width: 500px;
  transition: all 0.2s ease-in-out;
}

.greens-listing:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.card {
  border-radius: 20px;
}

.card-img {
  object-fit: cover;
  min-height: 200px;
  max-height: 200px;
}

li {
  list-style: circle;
}

div label:hover {
  color: #5cb85c;
}

.pagination {
  display: flex;
  justify-content: center;
}

.controls /deep/ .ngx-pagination .current {
  background: #5cb85c;
  border-radius: 25px;
  color: #f2f2f2;
}

.controls /deep/ .ngx-pagination li:hover:not(.active) a {
  background-color: #f2f2f2;
  color: #5cb85c;
}
