h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}

.greens-listing {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  min-width:370px;
  max-width:370px;
  min-height:396px;
}

.card-body:hover {
  cursor: pointer;
}

img {
  min-height:200px;
  max-height:200px;
}

li{
  list-style: circle;
}

div label:hover {
  color: #5cb85c;
}

.pagination /deep/ .ngx-pagination .current {
  background: #5cb85c;
  border-radius: 25px;
  color: #f2f2f2;
}

.pagination /deep/ .ngx-pagination li:hover:not(.active) a {
  background-color: #f2f2f2;
  color: #5cb85c;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .greens-listing {
    margin: auto;
  }
}
