<body>
  <div class="container">
    <div class="py-3">
      <a routerLink="/fish-listing" class="btn btn-light btn-sm">
        <i class="fal fa-chevron-left" style="color: #17a2b8"> </i>
      </a>
    </div>
    <div class="col-md-8 offset-md-2 pb-4">
      <div class="card">
        <img
          src="{{ fishDetails?.image }}"
          class="card-img"
          alt="{{ fishDetails?.commonName }}"
          onError="this.src='/assets/img/undefinedfish.jpg';"
        />

        <div class="card-body">
          <h3 class="card-title text-center" style="color: #17a2b8">
            {{ fishDetails?.commonName | titlecase
            }}<small style="font-size: medium">
              ({{ fishDetails?.binomialName | titlecase }})</small
            >
          </h3>
          <div class="text-center">
            <div
              [ngStyle]="{
                color: getEndangeredColor(fishDetails?.conservationStatus)
              }"
            >
              <em class="mr-2">Sustainability: </em>
              {{ fishDetails?.conservationStatus | titlecase }}
            </div>
            <ng-container
              *ngIf="fishDetails?.conservationStatus === 'sustainable'"
              ><i
                class="fas fa-horizontal-rule fa-2x"
                style="margin-right: 1%; color: #04aa6d"
              ></i>
              <i
                class="fas fa-horizontal-rule fa-2x"
                style="margin-right: 1%; color: #04aa6d"
              ></i>
              <i
                class="fas fa-horizontal-rule fa-2x"
                style="margin-right: 1%; color: #04aa6d"
              ></i>
              <i
                class="fas fa-horizontal-rule fa-2x"
                style="margin-right: 1%; color: #04aa6d"
              ></i
            ></ng-container>
            <ng-container
              *ngIf="fishDetails?.conservationStatus === 'near threatened'"
              ><i
                class="fas fa-horizontal-rule fa-2x"
                style="margin-right: 1%; color: #ffcc00"
              ></i
              ><i
                class="fas fa-horizontal-rule fa-2x"
                style="margin-right: 1%; color: #ffcc00"
              ></i
              ><i
                class="fas fa-horizontal-rule fa-2x"
                style="color: #ffcc00"
              ></i
            ></ng-container>
            <ng-container
              *ngIf="fishDetails?.conservationStatus === 'threatened'"
              ><i
                class="fas fa-horizontal-rule fa-2x"
                style="margin-right: 1%; color: #ff5c33"
              ></i
              ><i
                class="fas fa-horizontal-rule fa-2x"
                style="margin-right: 1%; color: #ff5c33"
              ></i
            ></ng-container>
            <ng-container
              *ngIf="fishDetails?.conservationStatus === 'endangered'"
              ><i
                class="fas fa-horizontal-rule fa-2x"
                style="color: #e60000"
              ></i
            ></ng-container>
            <ng-container
              *ngIf="fishDetails?.conservationStatus === 'data deficient'"
              ><i class="fas fa-exclamation-triangle"></i
            ></ng-container>
          </div>
          <ul>
            <li>Water environment: {{ fishDetails?.water | titlecase }}</li>
            <li>Sector of catch: {{ fishDetails?.sector | titlecase }}</li>
            <li class="text-danger" *ngIf="fishDetails?.avoid?.length > 0">
              <i class="fad fa-exclamation-triangle"></i> Avoid:
              {{ fishDetails?.avoid | titlecase }}
            </li>
          </ul>
          <hr *ngIf="fishDetails?.calories?.length > 0" />
          <h5
            *ngIf="fishDetails?.calories?.length > 0"
            class="text-center"
            style="color: #17a2b8"
          >
            Nutrition per 100g
          </h5>
          <ul>
            <li *ngIf="fishDetails?.calories?.length > 0">
              Calories: {{ fishDetails?.calories }}
            </li>
            <li *ngIf="fishDetails?.protein?.length > 0">
              Proteins: {{ fishDetails?.protein }}g
            </li>
          </ul>
          <hr *ngIf="fishDetails?.comments?.length > 0" />
          <h5
            *ngIf="fishDetails?.comments?.length > 0"
            class="text-center"
            style="color: #17a2b8"
          >
            Infos
          </h5>
          <p class="mt-3 mb-3">{{ fishDetails?.comments }}</p>
        </div>
      </div>
    </div>
  </div>
</body>
