body {
  background-image: url("https://mars-404.templateku.co/img/star.svg"),
    linear-gradient(to bottom, #05007a, #4d007d);
  height: 500px;
  margin: 0;
  overflow: hidden;
}

.logo404 {
  color: #ffffff;
  font-size: 20vh;
  text-align: center;
  margin-top: 30px;
}

h4 {
  color: white;
  font-size: 10vh;
  text-align: center;
  margin-top: 30px;
}
