<body>
  <div class="container">
    <div class="row">
      <div class="card-group mt-5">
        <div class="card col-md-6 mr-2">
          <div class="card-body">
            <h5 class="card-title text-info">
              How much fish are caught in our Ocean?
            </h5>
            <hr />
            <h4 class="card-text text-danger text-center">
              {{ count }} / per day
            </h4>
            <p class="text-center">That doesn't include farm raised fish!</p>
            <hr />
            <h4 class="card-text text-danger text-center">100 millions</h4>
            <p class="text-center">
              Is the number of Sharks killed each year. <br /><br />
              All the major fishing countries use destructive fishing practices
              that result in the killing of up to 100 million sharks every year
              and are in large part responsible for the 70% decline in shark
              populations globally over the past 50 years.
            </p>
          </div>
        </div>
        <div class="card col-md-6 mr-2">
          <div class="card-body">
            <h5 class="card-title text-info">Wild Caught Facts</h5>
            <hr />
            <h6 class="card-text">Cons of Wild-Caught Fish</h6>
            <ul>
              <li>
                <i class="text-danger fas fa-times"></i> They're not sustainable
              </li>
              <li>
                <i class="text-danger fas fa-times"></i> For many regions of the
                country, wild-caught fish won't be fresh
              </li>
              <li>
                <i class="text-danger fas fa-times"></i> Wild fish may have
                higher levels of mercury
              </li>
              <li>
                <i class="text-danger fas fa-times"></i> The price is going to
                continue to increase
              </li>
            </ul>
          </div>
        </div>
        <div class="card col-md-6 mr-2">
          <div class="card-body">
            <h5 class="card-title text-info">Farm Raised Facts</h5>
            <hr />
            <h6 class="card-text">Pros of Farm-Raised Fish</h6>
            <ul>
              <li>
                <i class="text-success fas fa-check"></i> Ocean-raised fish are
                a sustainable option
              </li>
              <li>
                <i class="text-success fas fa-check"></i> Farmed fish are often
                cheaper than wild-caught ones because they cost less to harvest,
                process, and ship.
              </li>
              <li>
                <i class="text-success fas fa-check"></i> They are more easily
                available than wild fish
              </li>
              <li>
                <i class="text-success fas fa-check"></i> Sustainability is a
                selling point. More customers are looking for sustainable and
                eco-friendly options
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-group mt-3 mb-5">
        <div class="card col-md-6 mr-2">
          <div class="card-body">
            <h5 class="card-title text-success">Why buying seasonal?</h5>
            <hr />
            <p class="text-justify">
              Consumers who buy produce during its growing season get the
              freshest ingredients, best flavor, most nutrition, and lowest
              prices. Supporting local farmers also helps nurture a healthy
              agricultural community nationwide. Every season has a bounty of
              fruits and vegetables on which to base creative and classic meals.
              It can even become a fun personal challenge to see how many
              seasonal ingredients can be included in each meal. Consider
              preserving and freezing some of the produce from particularly
              short harvest seasons, and when prices drop, to keep a variety of
              options on hand.
            </p>
          </div>
        </div>
        <div class="card col-md-6 mr-2">
          <div class="card-body">
            <h5 class="card-title text-success">
              Why is buying local so important?
            </h5>
            <hr />
            <ul>
              <li class="text-info">
                <i class="text-success fas fa-check"></i> Local food = local
                money
              </li>
              <p>
                Eating local means more money stays within your community. Every
                dollar spent generates twice as much income for the local
                economy.
              </p>
              <li class="text-info">
                <i class="text-success fas fa-check"></i> Local food is fresh
              </li>
              <p>
                Local produce is fresher and tastes better because it is usually
                sold within 24 hours of being picked. If you buy produce at a
                conventional grocery store, it may have been kept in storage for
                days or weeks.
              </p>
              <li class="text-info">
                <i class="text-success fas fa-check"></i> Eating local is
                “green”
              </li>
              <p>
                Eating local reduces your carbon footprint.When your food
                doesn’t travel long distances, you’re promoting better air
                quality and reducing pollution.
              </p>
              <li class="text-info">
                <i class="text-success fas fa-check"></i> Local food enhances
                our environment
              </li>
              <p>
                The more land that is cultivated organically decreases the
                overall usage of chemical pesticides, herbicides, fungicides,
                and fertilizers and increases biodiversity in our local
                ecosystem.
              </p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
