<div class="container">
  <div class="mt-3">
    <a routerLink="/" class="btn btn-outline-danger btn-sm">
      <i class="fa fa-arrow-circle-left"> Back</i>
    </a>
  </div>
  <h1 class="text-center">Fruits listing</h1>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group mt-2" role="group">
        <button type="button" class="btn btn-danger btn-sm mr-2" (click)="resetFruitList()">Reset
          List</button>
        <button type="button" class="btn btn-outline-danger btn-sm mr-2" *ngIf="!isSpringFilter"
          (click)="displaySpringFruits()">Spring</button>
        <button type="button" class="btn btn-danger btn-sm mr-2" *ngIf="isSpringFilter"
          (click)="displaySpringFruits()">Spring</button>
        <button type="button" class="btn btn-outline-danger btn-sm mr-2" *ngIf="!isSummerFilter"
          (click)="displaySummerFruits()">Summer</button>
        <button type="button" class="btn btn-danger btn-sm mr-2" *ngIf="isSummerFilter"
          (click)="displaySummerFruits()">Summer</button>
        <button type="button" class="btn btn-outline-danger btn-sm mr-2" *ngIf="!isFallFilter"
          (click)="displayFallFruits()">Fall</button>
        <button type="button" class="btn btn-danger btn-sm mr-2" *ngIf="isFallFilter"
          (click)="displayFallFruits()">Fall</button>
        <button type="button" class="btn btn-outline-danger btn-sm" *ngIf="!isWinterFilter"
          (click)="displayWinterFruits()">Winter</button>
        <button type="button" class="btn btn-danger btn-sm" *ngIf="isWinterFilter"
          (click)="displayWinterFruits()">Winter</button>
      </div>
    </div>
    <div class="input-group input-group-sm mt-2">
      <div class="input-group-prepend">
        <span class="input-group-text bg-danger text-white"><i class="fas fa-search"></i></span>
      </div>
      <input class="form-control" type="text" placeholder="Search for fruits..." [(ngModel)]="searchTerm" />
    </div>
    <div class="col-12 text-center">
      <h4 class="mt-2" *ngIf="(fruitListing | greenFilter: searchTerm)?.length == 0" style="color:#dc3545">
        Oops, something went wrong! Please check the spelling
      </h4>
    </div>
    <div *ngIf="fruitListing?.length > 0; else Spinner" class="card-group">
      <ng-container *ngFor="let fruit of fruitListing
      | greenFilter: searchTerm
      | springFilter: isSpringFilter
      | summerFilter: isSummerFilter
      | fallFilter: isFallFilter
      | winterFilter: isWinterFilter
      | paginate: { itemsPerPage: 18, currentPage: firstPage }">
        <div routerLink="/fruit-details/{{ fruit?.id }}" class="card-body mt-2 ml-1 mr-1 mb-2 bg-white rounded">
          <img class="card-img-top" src="{{ fruit?.image }}" alt="Card image"
            onError="this.src='/assets/img/undefinedveggy.jpg';" />
          <h3 class="card-title mt-2" style="color: #dc3545;">
            {{ fruit?.commonName | titlecase }}
          </h3>
          <ul>
            <li>
              Scientific name:
              {{ fruit?.binomialName | titlecase }}
            </li>
            <li [ngStyle]="{'color':getSeasonalColor(fruit?.season)}">
              Peak season: {{ fruit?.season | titlecase }}
            </li>
          </ul>
          <a routerLink="/fruit-details/{{ fruit?.id }}" class="btn btn-outline-danger btn-sm">Details</a>
        </div>
      </ng-container>
    </div>
    <div class="offset-md-4">
      <pagination-controls class="pagination" (pageChange)="onPageChange($event)">
      </pagination-controls>
    </div>
  </div>
  <ng-template #Spinner>
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
  </ng-template>
</div>