<body>
  <div class="container">
    <div class="pt-3">
      <a routerLink="/" class="btn btn-light btn-sm">
        <i class="fal fa-chevron-left"> </i>
      </a>
    </div>
    <h1 class="text-center">Fruits listing</h1>
    <div class="row">
      <div class="col-md-12 text-center">
        <button
          type="button"
          class="btn btn-danger btn-sm mr-2"
          title="reset"
          (click)="resetFruitList()"
        >
          <i class="far fa-sync"></i>
        </button>
        <button
          type="button"
          class="btn btn-light btn-sm mr-2"
          *ngIf="!isSpringFilter"
          (click)="displaySpringFruits()"
        >
          Spring
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm mr-2"
          *ngIf="isSpringFilter"
          (click)="displaySpringFruits()"
        >
          Spring
        </button>
        <button
          type="button"
          class="btn btn-light btn-sm mr-2"
          *ngIf="!isSummerFilter"
          (click)="displaySummerFruits()"
        >
          Summer
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm mr-2"
          *ngIf="isSummerFilter"
          (click)="displaySummerFruits()"
        >
          Summer
        </button>
        <button
          type="button"
          class="btn btn-light btn-sm mr-2"
          *ngIf="!isFallFilter"
          (click)="displayFallFruits()"
        >
          Fall
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm mr-2"
          *ngIf="isFallFilter"
          (click)="displayFallFruits()"
        >
          Fall
        </button>
        <button
          type="button"
          class="btn btn-light btn-sm"
          *ngIf="!isWinterFilter"
          (click)="displayWinterFruits()"
        >
          Winter
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          *ngIf="isWinterFilter"
          (click)="displayWinterFruits()"
        >
          Winter
        </button>
      </div>
      <div class="input-group input-group-sm m-2">
        <div class="input-group-prepend">
          <span class="input-group-text bg-danger text-white"
            ><i class="fal fa-search"></i
          ></span>
        </div>
        <input
          class="form-control"
          type="text"
          placeholder="Search for fruits..."
          [(ngModel)]="searchTerm"
          (keyup)="resetListToFirstPage()"
        />
      </div>
      <div class="col-12 text-center">
        <h4
          class="mt-2"
          *ngIf="(fruitListing | greenFilter: searchTerm)?.length == 0"
          style="color: #dc3545"
        >
          Oops, something went wrong! Please check the spelling
        </h4>
      </div>
      <div class="col-sm-12">
        <div class="card-deck">
          <ng-container
            *ngFor="
              let fruit of fruitListing
                | greenFilter: searchTerm
                | springFilter: isSpringFilter
                | summerFilter: isSummerFilter
                | fallFilter: isFallFilter
                | winterFilter: isWinterFilter
                | paginate: { itemsPerPage: 18, currentPage: firstPage }
            "
          >
            <div class="card fruits-listing mb-2">
              <div
                routerLink="/fruit-details/{{ fruit?.id }}"
                class="card-body"
                title="click for more details"
              >
                <img
                  class="card-img"
                  src="{{ fruit?.image }}"
                  alt="Card image"
                  onError="this.src='/assets/img/undefinedveggy.jpg';"
                />
                <h4 class="card-title mt-2" style="color: #dc3545">
                  {{ fruit?.commonName | titlecase }}
                </h4>
                <ul>
                  <li>
                    Scientific name:
                    {{ fruit?.binomialName | titlecase }}
                  </li>
                </ul>
                <ng-container
                  *ngIf="
                    fruit?.season === 'spring' ||
                    fruit?.season === 'summer' ||
                    fruit?.season === 'fall' ||
                    fruit?.season === 'winter'
                  "
                >
                  <div class="my-3">
                    <h6 class="text-center"><em>Best season to buy</em></h6>
                    <div style="display: flex; justify-content: space-around">
                      <div
                        class="text-success"
                        *ngIf="fruit?.season === 'spring'"
                      >
                        <h5><em>Spring</em></h5>
                      </div>
                      <div
                        class="text-muted"
                        *ngIf="!(fruit?.season === 'spring')"
                      >
                        <small>Spring</small>
                      </div>
                      <div
                        class="text-warning"
                        *ngIf="fruit?.season === 'summer'"
                      >
                        <h5><em>Summer</em></h5>
                      </div>
                      <div
                        class="text-muted"
                        *ngIf="!(fruit?.season === 'summer')"
                      >
                        <small>Summer</small>
                      </div>
                      <div
                        style="color: brown"
                        *ngIf="fruit?.season === 'fall'"
                      >
                        <h5><em>Fall</em></h5>
                      </div>
                      <div
                        class="text-muted"
                        *ngIf="!(fruit?.season === 'fall')"
                      >
                        <small>Fall</small>
                      </div>
                      <div
                        class="text-primary"
                        *ngIf="fruit?.season === 'winter'"
                      >
                        <h5><em>Winter</em></h5>
                      </div>
                      <div
                        class="text-muted"
                        *ngIf="!(fruit?.season === 'winter')"
                      >
                        <small>Winter</small>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container
                  *ngIf="
                    !(
                      fruit?.season === 'spring' ||
                      fruit?.season === 'summer' ||
                      fruit?.season === 'fall' ||
                      fruit?.season === 'winter'
                    )
                  "
                >
                  <div class="text-center my-3">
                    <h6><em>Best season to buy</em></h6>
                    <div class="text-info">
                      <h5><em>All Year Round</em></h5>
                    </div>
                  </div>
                </ng-container>
                <div style="display: flex; justify-content: flex-end">
                  <a
                    routerLink="/fruit-details/{{ fruit?.id }}"
                    class="btn btn-danger btn-sm"
                    >Details</a
                  >
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="pagination mt-3">
          <pagination-controls
            class="controls"
            (pageChange)="onPageChange($event)"
            previousLabel=""
            nextLabel=""
            [autoHide]="true"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</body>
