h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}

.fruits-listing {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 300px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.fruits-listing:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.card {
  border-radius: 15px;
}

.card-img {
  object-fit: cover;
  min-height: 200px;
}

.card-body:hover {
  cursor: pointer;
}

li {
  list-style: circle;
}

div label:hover {
  color: #dc3545;
}

.pagination {
  display: flex;
  justify-content: center;
}

.controls /deep/ .ngx-pagination .current {
  background: #dc3545;
  border-radius: 25px;
  color: #f2f2f2;
}

.controls /deep/ .ngx-pagination li:hover:not(.active) a {
  background-color: #f2f2f2;
  color: #dc3545;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .fruits-listing {
    margin: auto;
  }
}
