<div class="container">
  <div class="mt-3">
    <a routerLink="/" class="btn btn-outline-info btn-sm">
      <i class="fal fa-chevron-double-left"> Back</i>
    </a>
  </div>
  <h1 class="text-center">Fish listing</h1>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group mt-2" role="group">
        <button type="button" class="btn btn-info btn-sm mr-2" title="reset" (click)="resetFishList()"><i
            class="far fa-sync"></i>
        </button>
        <button type="button" class="btn btn-outline-info btn-sm mr-2" *ngIf="!saltyWaterFilter"
          (click)="toggleSaltyFish()">Salt
          water</button>
        <button type="button" class="btn btn-info btn-sm mr-2" *ngIf="saltyWaterFilter" (click)="toggleSaltyFish()">Salt
          water</button>
        <button type="button" class="btn btn-outline-info btn-sm" *ngIf="!freshWaterFilter"
          (click)="toggleFreshFish()">Fresh
          water</button>
        <button type="button" class="btn btn-info btn-sm" *ngIf="freshWaterFilter" (click)="toggleFreshFish()">Fresh
          water</button>
      </div>
    </div>
    <div class="input-group input-group-sm mt-2">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white" id="inputGroup-sizing-sm"><i class="fal fa-search"></i></span>
      </div>
      <input class="form-control" type="text" placeholder="Search for species..." [(ngModel)]="searchTerm" />
    </div>
    <div class="col-12 text-center">
      <h4 class="mt-2" *ngIf="(fishListing | fishFilter: searchTerm)?.length == 0" style="color:#17a2b8">
        Oops, something went wrong! Please check the spelling
      </h4>
    </div>
    <div class="col-sm-12">
      <div class="card-deck">
        <ng-container *ngFor="let fish of fishListing
      | fishFilter: searchTerm
      | saltyFilter: saltyWaterFilter
      | freshFilter: freshWaterFilter
      | paginate: { itemsPerPage: 18, currentPage: firstPage }">
          <div class="card fish-listing">
            <div routerLink="/fish-details/{{ fish?.id }}" class="card-body ">
              <img class="card-img" src="{{ fish?.image }}" title="image"
                onError="this.src='/assets/img/undefinedfish.jpg';" />
              <h3 class="card-title mt-2" style="color: #17a2b8;">
                {{ fish?.commonName | titlecase }}
              </h3>
              <ul>
                <li>
                  Water environment:
                  {{ fish?.water | titlecase }}
                </li>
                <li>Sector of catch: {{ fish?.sector | titlecase }}</li>
                <li [ngStyle]="{'color':getEndangeredColor(fish?.conservationStatus)}">
                  {{ fish?.conservationStatus | titlecase }}
                </li>
              </ul>
              <a routerLink="/fish-details/{{ fish?.id }}" class="btn btn-outline-info btn-sm">Details</a>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="pagination mt-3">
        <pagination-controls class="controls" (pageChange)="onPageChange($event)" previousLabel="" nextLabel=""
          [autoHide]="true">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>