<body>
  <div class="container">
    <div class="pt-3">
      <a routerLink="/" class="btn btn-light btn-sm">
        <i class="fal fa-chevron-left"> </i>
      </a>
    </div>
    <h1 class="text-center">Fish listing</h1>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="btn-group mt-2" role="group">
          <button
            type="button"
            class="btn btn-info btn-sm mr-2"
            title="reset"
            (click)="resetFishList()"
          >
            <i class="far fa-sync"></i>
          </button>
          <button
            type="button"
            class="btn btn-light btn-sm mr-2"
            *ngIf="!saltyWaterFilter"
            (click)="toggleSaltyFish()"
          >
            Salt water
          </button>
          <button
            type="button"
            class="btn btn-info btn-sm mr-2"
            *ngIf="saltyWaterFilter"
            (click)="toggleSaltyFish()"
          >
            Salt water
          </button>
          <button
            type="button"
            class="btn btn-light btn-sm mr-2"
            *ngIf="!freshWaterFilter"
            (click)="toggleFreshFish()"
          >
            Fresh water
          </button>
          <button
            type="button"
            class="btn btn-info btn-sm mr-2"
            *ngIf="freshWaterFilter"
            (click)="toggleFreshFish()"
          >
            Fresh water
          </button>
          <button
            type="button"
            class="btn btn-light btn-sm"
            *ngIf="!sustainableFishFilter"
            (click)="toggleSustainableFish()"
          >
            Sustainable Fish
          </button>
          <button
            type="button"
            class="btn btn-info btn-sm"
            *ngIf="sustainableFishFilter"
            (click)="toggleSustainableFish()"
          >
            Sustainable Fish
          </button>
        </div>
      </div>
      <div class="input-group input-group-sm m-2">
        <div class="input-group-prepend">
          <span
            class="input-group-text bg-info text-white"
            id="inputGroup-sizing-sm"
            ><i class="fal fa-search"></i
          ></span>
        </div>
        <input
          class="form-control"
          type="text"
          placeholder="Search for species..."
          [(ngModel)]="searchTerm"
          (keyup)="resetListToFirstPage()"
        />
      </div>
      <div class="col-12 text-center">
        <h4
          class="mt-2"
          *ngIf="(fishListing | fishFilter: searchTerm)?.length == 0"
          style="color: #17a2b8"
        >
          Oops, something went wrong! Please check the spelling
        </h4>
      </div>
      <div class="col-sm-12">
        <div class="card-deck">
          <ng-container
            *ngFor="
              let fish of fishListing
                | fishFilter: searchTerm
                | saltyFilter: saltyWaterFilter
                | freshFilter: freshWaterFilter
                | sustainableFilter: sustainableFishFilter
                | paginate: { itemsPerPage: 18, currentPage: firstPage }
            "
          >
            <div class="card fish-listing mb-2">
              <div
                routerLink="/fish-details/{{ fish?.id }}"
                class="card-body"
                title="click for more details"
              >
                <img
                  class="card-img"
                  src="{{ fish?.image }}"
                  onError="this.src='/assets/img/undefinedfish.jpg';"
                />
                <h4 class="card-title mt-2" style="color: #17a2b8">
                  {{ fish?.commonName | titlecase }}
                </h4>
                <ul>
                  <li>
                    Water environment:
                    {{ fish?.water | titlecase }}
                  </li>
                  <li>Sector of catch: {{ fish?.sector | titlecase }}</li>
                </ul>
                <div>
                  <div
                    [ngStyle]="{
                      color: getEndangeredColor(fish?.conservationStatus)
                    }"
                  >
                    <em class="mr-2">Sustainability: </em>
                    {{ fish?.conservationStatus | titlecase }}
                  </div>
                  <ng-container
                    *ngIf="fish?.conservationStatus === 'sustainable'"
                    ><i
                      class="fas fa-horizontal-rule fa-2x"
                      style="margin-right: 1%; color: #04aa6d"
                    ></i>
                    <i
                      class="fas fa-horizontal-rule fa-2x"
                      style="margin-right: 1%; color: #04aa6d"
                    ></i>
                    <i
                      class="fas fa-horizontal-rule fa-2x"
                      style="margin-right: 1%; color: #04aa6d"
                    ></i>
                    <i
                      class="fas fa-horizontal-rule fa-2x"
                      style="margin-right: 1%; color: #04aa6d"
                    ></i
                  ></ng-container>
                  <ng-container
                    *ngIf="fish?.conservationStatus === 'near threatened'"
                    ><i
                      class="fas fa-horizontal-rule fa-2x"
                      style="margin-right: 1%; color: #ffcc00"
                    ></i
                    ><i
                      class="fas fa-horizontal-rule fa-2x"
                      style="margin-right: 1%; color: #ffcc00"
                    ></i
                    ><i
                      class="fas fa-horizontal-rule fa-2x"
                      style="color: #ffcc00"
                    ></i
                  ></ng-container>
                  <ng-container
                    *ngIf="fish?.conservationStatus === 'threatened'"
                    ><i
                      class="fas fa-horizontal-rule fa-2x"
                      style="margin-right: 1%; color: #ff5c33"
                    ></i
                    ><i
                      class="fas fa-horizontal-rule fa-2x"
                      style="margin-right: 1%; color: #ff5c33"
                    ></i
                  ></ng-container>
                  <ng-container
                    *ngIf="fish?.conservationStatus === 'endangered'"
                    ><i
                      class="fas fa-horizontal-rule fa-2x"
                      style="color: #e60000"
                    ></i
                  ></ng-container>
                  <ng-container
                    *ngIf="fish?.conservationStatus === 'data deficient'"
                    ><i class="fas fa-exclamation-triangle"></i
                  ></ng-container>
                  <div style="display: flex; justify-content: flex-end">
                    <a
                      routerLink="/fish-details/{{ fish?.id }}"
                      class="btn btn-info btn-sm"
                      >Details</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="pagination mt-3">
          <pagination-controls
            class="controls"
            (pageChange)="onPageChange($event)"
            previousLabel=""
            nextLabel=""
            [autoHide]="true"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</body>
